:root {

    /* declare CSS variables here afterwards */
    --color-black: rgba(0, 0, 0);
    --color-white: white;
    --color-blue: #5f90ff;
    --color-yellow: #ffbf50;
    --color-green: #00a468;
    --color-purple: #bb7cd2;
    --color-orange: #ff5f00;

    --color1: 95, 144, 255;
    --color2: 255, 191, 80;
    --color3: 255, 95, 0;
    --color4: 0, 164, 104;
    --color5: 187, 124, 210;
    --color6: 255, 102, 102;

    --whitespace-xxs: .25rem;
    --whitespace-xs: .5rem;
    --whitespace-s: 0.875rem;
    --whitespace-base: 1.25rem;
    --whitespace-m: 2.5rem;
    --whitespace-l: 3.75rem;
    --whitespace-xl: 6rem;

    --font-size-s: .75rem;
    --font-size-base: 1rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3.125rem;

    --font-family-sans: Helvetica, Arial, sans-serif;   

    --circle-size: 80%;
    --circle-size-small: 90%;
    --blending: hard-light;
}

@font-face {
    font-family: "GT-Walsheim-Regular";
    src: url('../assets/fonts/GT-Walsheim-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: "GT-Walsheim-Regular-Italic";
    src: url('../assets/fonts/GT-Walsheim-Regular-Oblique-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GT-Walsheim-Medium";
    src: url('../assets/fonts/GT-Walsheim-Medium-Trial.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim-Bold";
    src: url('../assets/fonts/GT-Walsheim-Bold-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: GT-walsheim-regular, sans-serif;
    font-size: var(--font-size-l);
    line-height: 1.5;
    color: var(--color-black);
    overflow-x: hidden;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; 
}

h2{
    font-family: GT-walsheim-bold, sans-serif;
    font-size: var(--font-size-xxl);
}

h3 {
    font-family: GT-walsheim-bold, sans-serif;
    font-size: var(--font-size-xl);
    color: var(--color-green);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.buttons{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    gap: var(--whitespace-m);
    align-items: center;
    margin-bottom: var(--whitespace-l);
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.button{
    display: inline-block;
    width: 16rem;
    padding: var(--whitespace-s) var(--whitespace-m);
    border: solid 2px var(--color-black);
    text-align: center;
    background-color: var(--color-white);
}

.button.active{
    background-color: var(--color-green);
    font-family: GT-walsheim-bold, sans-serif;
}

.button:hover{
    background-color: var(--color-green);
    cursor: pointer;
}

.abby-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--whitespace-base);
}

/* ---------------------Build Page--------------------- */

.build {
    width: 100vw;
    /* height: 125vh; */
    background: var(--color-blue);
    display: grid;
    justify-items: center;

}

.build__container {
    background-color: var(--color-white);
    margin-top: var(--whitespace-base);
    width: 98%;
    height: 61rem;
}

/* ---------------------Intro Page--------------------- */

.intro {
    display: grid;
    grid-template-columns: 35% 65%;
    overflow-y: hidden;
}

.intro__info, .save__info, .save__qr {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}

.intro__content, .save__content, .qr__content {
    grid-row: 2/7;
}

.intro__info{
    grid-column: 1;
    background-color: var(--color-yellow);
}

.intro__content {
    max-width: 29rem;
}

.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--whitespace-xs);
    text-transform: uppercase;
    background-color: var(--color-green);
    width: max-content;
    padding: var(--whitespace-xxs) var(--whitespace-base);
    border-radius: var(--whitespace-m);
    margin-bottom: var(--whitespace-base);
}

.intro__title, .intro__text {
    margin-bottom: 1rem;
}

/* ---------------------Save Page--------------------- */
.save {
    display: grid;
    grid-template-columns: 55% 45%;
}

.save__info{
    grid-column: 1;
    align-items: center;
}

.save__content {
    max-width: 50ch;
    justify-content: center;
    margin-left: -2rem;
}

.save__subtitle {
    margin-bottom: var(--whitespace-xxs);
}

.save__text{
    margin-bottom: var(--whitespace-base);
}

.save__content .tag {
    margin-bottom: var(--whitespace-m);
}

.save__qr {
    grid-column: 2;
    background-color: var(--color-yellow);
}


.qr__content {
    max-width: 45ch;
    text-align: center;
    justify-items: center;
}

.qr__svg{
    margin-bottom: 4rem;
}

.qr__title {
    font-size: 3rem;
    font-family: gt-walsheim-medium, sans-serif;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.qr__text {
    max-width: 30ch;
}

/* ---------------------Abby Identity Visual--------------------- */


@keyframes moveInCircle {
    0% {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    50% {
        transform: rotate(180deg) translateX(100px) rotate(-180deg);
    }

    100% {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-10%);
    }

    33% {
        transform: translateY(10%);
    }

    66% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(-10%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-10%) translateY(-10%);
    }

    33% {
        transform: translateX(10%) translateY(10%);
    }

    66% {
        transform: translateX(-15%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.gradient-bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.gradients-container {
    filter: url(#goo) blur(1px);
    display: grid;
    place-items: center;
}

.intro__visual .gradients-container {
    width: 100%;
    height: 90%;
}

.build__container .gradients-container {
    width: 70%;
    height: 95%;
    margin: 0 auto;
}



.g1 {
    border-radius: 100%;
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 1) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size-small);
    height: var(--circle-size-small);
    top: calc(50% - var(--circle-size-small) / 2);
    left: calc(50% - var(--circle-size-small) / 2);
    animation: moveVertical 10s ease infinite;
    opacity: 1;
}

.g2 {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size-small);
    height: var(--circle-size-small);
    top: calc(50% - var(--circle-size-small) / 2);
    left: calc(50% - var(--circle-size-small) / 2);
    animation: moveInCircle 15s linear infinite;
    opacity: 1;
}

.g3 {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.5) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    animation: moveHorizontal 20s ease infinite;
    opacity: 1;
}

.g4 {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(var(--color4), 0) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size-small);
    height: var(--circle-size-small);
    top: calc(50% - var(--circle-size-small) / 2);
    left: calc(50% - var(--circle-size-small) / 2);
    animation: moveVertical 10s ease infinite;
    opacity: 1;
}

.g5 {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.3) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size-small);
    height: var(--circle-size-small);
    top: calc(50% - var(--circle-size-small) / 2);
    left: calc(50% - var(--circle-size-small) / 2);
    animation: moveInCircle 15s linear infinite;
    opacity: 1;
}

.g6 {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.4) 0, rgba(var(--color6), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size-small);
    height: var(--circle-size-small);
    top: calc(50% - var(--circle-size-small) / 2);
    left: calc(50% - var(--circle-size-small) / 2);
    animation: moveHorizontal 20s linear infinite;
    opacity: 1;
}

.build__controls {
    margin-top: var(--whitespace-xl);
    margin-bottom: var(--whitespace-l);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--whitespace-l);
    row-gap: var(--whitespace-s);
    width: 60vw;
}

.slider-container {
    display: flex;
    flex-direction: column;
    font-family: GT-Walsheim-Medium, sans-serif;
    font-size: var(--font-size-l);
    text-transform: capitalize;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    background: #BB7CD2;
    background: linear-gradient(90deg, var(--color-purple) 0%, var(--color-orange) 50%, var(--color-yellow) 100%)
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 6px solid var(--color-white);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.slider-container label {

}

.slider__title {
    font-family: GT-Walsheim-Medium, sans-serif;
    font-size: 2.5rem;
    color: var(--color-purple);
    line-height: 1.2;
}

.build__value {
    text-transform: uppercase;
    font-size: 3rem;
}

.slider__visual-input::-webkit-slider-thumb {
    border: 6px solid rgb(228, 228, 228);
}

.build__slider {
    opacity: 0;
    padding: var(--whitespace-l);
    position:fixed;
    max-width: 40ch;
    display: flex;
    flex-direction: column;
    gap: var(--whitespace-base);
}

.slider.active {
    box-shadow: 0 0 0 2px #000;
}




