:root {

    /* declare CSS variables here afterwards */
    --color-black: rgba(0, 0, 0);
    --color-white: white;
    --color-blue: #5f90ff;
    --color-yellow: #ffbf50;
    --color-green: #00a468;
    --color-purple: #bb7cd2;
    --color-orange: #ff5f00;

    --whitespace-xs: .5rem;
    --whitespace-s: 1rem;
    --whitespace-base: 1.5rem;
    --whitespace-m: 2rem;
    --whitespace-l: 3rem;

    --font-size-s: .75rem;
    --font-size-base: 1rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2.5rem;

    --font-family-sans: Helvetica, Arial, sans-serif;   
}

@font-face {
    font-family: "GT-Walsheim-Regular";
    src: url('../assets/fonts/GT-Walsheim-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: "GT-Walsheim-Regular-Italic";
    src: url('../assets/fonts/GT-Walsheim-Regular-Oblique-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GT-Walsheim-Medium";
    src: url('../assets/fonts/GT-Walsheim-Medium-Trial.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim-Bold";
    src: url('../assets/fonts/GT-Walsheim-Bold-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: GT-walsheim-regular, sans-serif;
    font-size: var(--font-size-l);
    line-height: 1.5;
    color: var(--color-black);
}




