:root {

    /* declare CSS variables here afterwards */
    --color-black: rgba(0, 0, 0);
    --color-white: white;
    --color-blue: #5f90ff;
    --color-yellow: #ffbf50;
    --color-green: #00a468;
    --color-purple: #bb7cd2;
    --color-orange: #ff5f00;

    --whitespace-xxs: .25rem;
    --whitespace-xs: .5rem;
    --whitespace-s: 0.875rem;
    --whitespace-base: 1.25rem;
    --whitespace-m: 2.5rem;
    --whitespace-l: 3.75rem;

    --font-size-s: .75rem;
    --font-size-base: 1rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2.5rem;
    --font-size-xxl: 3.125rem;

    --font-family-sans: Helvetica, Arial, sans-serif;   
}

@font-face {
    font-family: "GT-Walsheim-Regular";
    src: url('../assets/fonts/GT-Walsheim-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: "GT-Walsheim-Regular-Italic";
    src: url('../assets/fonts/GT-Walsheim-Regular-Oblique-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GT-Walsheim-Medium";
    src: url('../assets/fonts/GT-Walsheim-Medium-Trial.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim-Bold";
    src: url('../assets/fonts/GT-Walsheim-Bold-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: GT-walsheim-regular, sans-serif;
    font-size: var(--font-size-l);
    line-height: 1.5;
    color: var(--color-black);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; 
}

h2{
    font-family: GT-walsheim-bold, sans-serif;
    font-size: var(--font-size-xxl);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.buttons{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    gap: var(--whitespace-m);
    align-items: center;
    margin-bottom: var(--whitespace-l);
    bottom: 0;
    width: 100%;
}

.button{
    display: inline-block;
    width: 16rem;
    padding: var(--whitespace-s) var(--whitespace-m);
    border: solid 2px var(--color-black);
    text-align: center;
    background-color: var(--color-white);
}

.active{
    background-color: var(--color-green);
    font-family: GT-walsheim-bold, sans-serif;
}

.button:hover{
    background-color: var(--color-green);
    cursor: pointer;
}

.abby-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--whitespace-base);
}

/* ---------------------Build Page--------------------- */

.build {
    width: 100vw;
    height: 150vh;
    background: var(--color-blue);
    display: grid;
    justify-items: center;

}

.build__container {
    background-color: var(--color-white);
    margin-top: var(--whitespace-base);
    width: 98%;
    height: 61rem;
}

/* ---------------------Intro Page--------------------- */

.intro {
    display: grid;
    grid-template-columns: 35% 65%;
}

.intro__info{
    min-height: 100vh;
    grid-column: 1;
    background-color: var(--color-yellow);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    justify-items: center;
}

.intro__content {
    max-width: 29rem;
    grid-row: 2/7;    
}

.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--whitespace-xs);
    text-transform: uppercase;
    background-color: var(--color-green);
    width: max-content;
    padding: var(--whitespace-xxs) var(--whitespace-base);
    border-radius: var(--whitespace-m);
    margin-bottom: var(--whitespace-base);
}

.intro__title, .intro__text{
    margin-bottom: 1rem;
}

/* ---------------------Save Page--------------------- */
.save {
    display: grid;
    grid-template-columns: 50% 50%;
}

.save__info{
    grid-column: 1;
}

.save__qr {
    min-height: 100vh;
    grid-column: 2;
    background-color: var(--color-yellow);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    justify-items: center;
    align-items: center;
}

.qr__content {
    grid-row: 2/7;
    max-width: 45ch;
}

.qr__title {
    font-size: 3rem;
    font-family: gt-walsheim-medium, sans-serif;
    line-height: 1.3;
}




